@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <div class="alert-primary">
        <h1 class="display-4">Welcome</h1>
        <p>Shop your favourite laptops here as fastest as posisble!!</p>
    </div>
</div>
<img src="https://th.bing.com/th/id/OIP.dzEGR_Wk671O5W4sB2KcugHaE8?w=270&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="1110" height="350">
