@{ 
    ViewData["Title"] = "payment"; 
    }
<br/>
<div class="text-xl-center">
    <h2>Payment Succesful!!</h2>
    <img src="https://www.bing.com/th/id/OGC.90f4343c91dd7992f41fd1cb65f6ec19?pid=1.7&rurl=https%3a%2f%2fwww.alpha-cat.org%2fwp-content%2fuploads%2f2020%2f03%2fpayment_successful.gif&ehk=wjvqITkspiaSwCeb%2b98l%2fQmkvIEgQ%2br5OE%2befrJAn80%3d" />
</div>